.logo-head {
    width: 56px;
    height: auto;

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card {
    background-color: #484848;
    color: #484848;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-btn {
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-pa {
    height: 800px;
}