<!DOCTYPE html>
<html lang="en">

<head>
    <title>Scalist.net</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="author" content="Scalist.net">
    <meta name="description" content="Scalist.net website. Showcase of products like Jilk.pw">
    <meta property="og:title" content="Scalist.net">
    <meta property="og:url" content="https://scalist.net/">
    <meta property="og:description" content="Showcase website for Scalist.net">
    <meta property="og:image" content="{{ url_for('static', filename='img/logo.png') }}">
    <meta property="og:site_name" content="Scalist.net">
    <meta property="twitter:title" content="Scalist.net">
    <meta property="twitter:url" content="https://scalist.net/">
    <meta property="twitter:card" content="Showcase website for Scalist.net">
    <meta property="twitter:image" content="{{ url_for('static', filename='img/logo.png') }}">
    <!-- jquery init -->
    <script>
        $(document).ready(function () {
            M.AutoInit();
        });
    </script>
</head>

<body>

    <div id="home" class="scrollspy">
        <div class="parallax-container top-pa">
            <div class="parallax"><img src="{{ url_for('static', filename='img/background.jpg') }}"></div>
            <nav class="grey darken-3">
                <div class="nav-wrapper grey darken-3">
                    <a href="#" class="brand-logo"><img src="{{ url_for('static', filename='img/logo.png') }}"
                            class="logo-head"></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <a href="#home" class="waves-effect waves-light"><i class="material-icons left">home</i>Home</a>
                        <a href="#about" class="waves-effect waves-light"><i
                                class="material-icons left">info</i>About</a>
                        <a href="#projects" class="waves-effect waves-light"><i
                                class="material-icons left">developer_board</i>Showcase</a>
                        <a href="#contact" class="waves-effect waves-light"><i
                                class="material-icons left">contact_support</i>Contact</a>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="title white-text">
        <h3>Welcome to Scalist.net</h3>
        <a class="btn-floating btn-large grey darken-2 title-btn waves-effect waves-light" href="#about"><i
                class="material-icons">arrow_downward</i></a>
    </div>
    <div class="section grey darken-3">
        <div class="row container">
            <div id="about" class="section scrollspy">
                <h2 class="header center white-text">About</h2>
                <b class="white-text">What Is Scalist.Net?</b>
                <p class="white-text">Scalist.net is a small buissness creating flask-based websites for the public.</p>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{{ url_for('static', filename='img/background.jpg') }}">
        </div>
    </div>
    <div class="section grey darken-3">
        <div class="row container">
            <div id="projects" class="section scrollspy">
                <h2 class="header center white-text">Projects</h2>
                <div class="row">
                    <!--Jilk.pw card. Remove center if adding multpule-->
                    <div class="col s12 m4">
                        <div class="card blue darken-2 hoverable">
                            <div class="card-image">
                                <img src="{{ url_for('static', filename='img/jilk.png') }}">
                                <span class="card-title">Jilk.pw</span>
                                <a class="btn-floating btn-large halfway-fab waves-effect waves-light blue"
                                    href="https://jilk.pw/" target="_blank">
                                    <i class="material-icons">open_in_new</i></a>
                            </div>
                            <div class="card-content" style="padding-top:2.5em;">
                                <p class="white-text"><b>Jilk.pw</b> is a new, unbiased Discord server list, come and check it out!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{{ url_for('static', filename='img/background.jpg') }}">
        </div>
    </div>
    <div id="contact" class="section scrollspy grey darken-3">
        <div class="section">
            <div class="row container">
                <h2 class="header center white-text">Contact us <i>(Work in progress)</i></h2>
                <p class="white-text" style="text-align:center;"><b><i>If you would like to contact us, please fill out the required (*) fields below</i></b>.</p>
                <div class="row">
                    <form class="col s12">
                        <div class="input-field col s6">
                            <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="topic" type="text">
                            <label for="topic">Topic</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="message" type="text">
                            <label for="message">Message</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{{ url_for('static', filename='img/background.jpg') }}">
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>